*{
	margin:0;
	padding:0;
}
body{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bcgr{
	background-color:#f0f6ff;
	width:600px;
	height:600px;
	border-radius:50%;
}
.manhead{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:200px;
	height:250px;
	background-color:#ffdea6;
	border-bottom:20px #e81c3e solid;
}
.eye{
	
}
.glasses{
	
}
.shine{
	
}
.bread{
	
}
.smile{
	
}
.nose{
	
}
.hair{
	
}
.tshirt{
	
}