*{
	margin:0;
	padding:0;
}
body{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bcgr{
	background-color:#f0f6ff;
	width:600px;
	height:600px;
	border-radius:50%;
}
.manhead{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:200px;
	height:250px;
	background-color:#ffdea6;
	border-bottom:20px #e81c3e solid;
}
.eye{
	position:absolute;
	width:17px;
	height:17px;
	background-color:#171616;
	border-radius:50%;
	top:80px;
	left:50px;
	box-shadow:85px 0 #171616;
}
.glasses{
	position:absolute;
	width:200px;
	height:75px;
	background-color:#e81c3e;
	top:50px;
	opacity:20%;
}
.shine{
	position:absolute;
	width:25px;
	height:97;
	background-color:white;
	top:-11px;
	left:60px;
	transform:rotate(30deg);
	opacity:60%;
	border-radius:150% 0 150% 0;
}
.beard{
	position:absolute;
	width:100px;
	height:100px;
	background-color:#363145;
	border-radius:50%;
	top:50%;
	left:50%;
	transform:translate(-50%);
}
.smile{
	position:absolute;
	width:40px;
	height:20px;
	background-color:#fbfaff;
	border-radius:0 0 20px 20px;
	top:50%;
	left:50%;
	transform:translate(-50%,-90%);
}
.nose{
	position:absolute;
	width:28px;
	height:28px;
	background-color:#ffdea6;
	border-radius:50%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hair{
	
}
.tshirt{
	
}